body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Squada One', cursive;
    background-color: lightcyan;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 45rem;
    height: 45rem;
    border: 0.1rem solid black;
    border-radius: 15rem;
    background-color: lightsteelblue;
    margin-top: 2rem;
}

#tap {
    position: absolute;
    top: 5rem;
}

#screen {
    margin-top: 8%;
    width: 60%;
    height: 60%;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#HUD {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.1rem solid black;
    background-color: white;
}

#HUD div {
    width: 30%;
    height: 60%;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

#interface {
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#interface button {
    width: 25%;
    height: 80%;
    border-radius: 1rem;
}

#home {
    background-image: url("../Images/day.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pet {
    width: 30%;
    height: 30%;
    position: relative;
}

#emote {
    width: 5%;
    position: absolute;
    z-index: 1;
}
button {
    background-color: #d1e3da;
    font-family: 'Squada One', cursive;
    font-size: 150%;
    border: 0.15rem solid black;
}
